<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf = "authService.isLoggedIn" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-sidenav *ngIf = "authService.isLoggedIn" #drawer> -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink = "/dashboard" routerLinkActive = "active" >Dashboard</a>
      <a mat-list-item routerLink = "/posts" routerLinkActive = "active" >Blog Posts</a>
      <a mat-list-item routerLink = "/savePosts" routerLinkActive = "active" >Save Posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span>angularTestA</span>
      <div fxLayout="row" fxLayoutAlign="end end" class="login">
        <a *ngIf = "!(authService.isLoggedIn)" routerLink = "/log-in" >Login</a>
        <a  (click)="SignOut()" *ngIf = "authService.isLoggedIn"> <mat-icon> exit_to_app</mat-icon> Sign Out</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
