<p *ngIf="!(dbPosts$ | async)"> loading posts...</p>
<mat-accordion>
    <!-- <a *ngIf = "(posts$ | async)" class = "btn btn-primary" (click) = "addPPostsToFirestore()">add posts to firestore</a> -->
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let post of dbPosts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
               
               <p>{{ post.title}}</p>
            </mat-panel-title>
            <div fxLayout="row" fxLayoutAlign="end end" class="">
                <mat-panel-description >
                    <button mat-button (click) = "addLikes(post.id, post.likes)">LIKE {{post.likes}}</button>
                </mat-panel-description>
            </div>
            
        </mat-expansion-panel-header>
        <p> <q>{{post.body}}</q></p>
        <p> <a  [routerLink] = "[post.id,'comments']"> see post comments </a></p>
        <p>
                <button mat-raised-button 
                color="primary"
                (click) = deletePost(post.id)>
          Delete
        </button>
        
        <!-- <a (click) = "addLikes(post.id)"> Like </a> -->
        </p>

    </mat-expansion-panel>
</mat-accordion>
