<p *ngIf="!(comments$ | async)"> loading post comments...</p>
<!-- 
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        *ngFor="let c of comments$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p>{{ c.name}}</p>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p> <q>{{c.body}}</q></p>
    </mat-expansion-panel>
</mat-accordion> -->
<h2 *ngIf="(comments$ | async)"> Comments For: <p>{{postTitle}}</p></h2>
<mat-card class="example-card" *ngFor="let c of comments$ | async">
        <mat-card-header>
          
          <mat-card-title>{{ c.name}} </mat-card-title>
          <mat-card-subtitle>{{c.body}}</mat-card-subtitle>
        </mat-card-header>
       
       
      </mat-card>
      