<p *ngIf="!(blogPosts$ | async)"> loading posts...</p>
<mat-accordion>
    <!-- <a *ngIf = "(posts$ | async)" class = "btn btn-primary" (click) = "addPPostsToFirestore()">add posts to firestore</a> -->
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let bPost of blogPosts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
               
               <p>{{ bPost.id}}. {{ bPost.title}}</p>
            </mat-panel-title>
            <!-- <div fxLayout="row" fxLayoutAlign="end end" class="">
                <mat-panel-description >
                    <p>Post Number: <b> {{ bPost.id}}</b> </p> 
                </mat-panel-description>
            </div> -->
            
        </mat-expansion-panel-header>
        <p> <q>{{bPost.body}}</q></p>
        <p> <a  [routerLink] = "[bPost.id,'comments']"> see post comments </a></p>
        <p><button mat-raised-button class="btn btn-primary " (click) = "save(bPost.id)" >Save</button></p>
    </mat-expansion-panel>
</mat-accordion>
